/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

.news
	{
		/*width: 36%;*/
		width: 671px;
		margin: 0px auto;
	}
.n_word
	{
		color: #3f3f3f;
		font-size: 12px;
		line-height: 20px;
		
	}
