/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/buy_list_2.scss */
.shopping {
  margin: 0px auto;
  /*width: 38.35%;*/
  width: 715px;
}

/* line 16, ../sass/buy_list_2.scss */
.sop_pic {
  width: 100%;
}

/* line 20, ../sass/buy_list_2.scss */
.sop_box {
  margin: 0px auto;
  width: 50%;
  font-size: 14px;
  padding-top: 2%;
  color: #3b3b3b;
}
/* line 28, ../sass/buy_list_2.scss */
.sop_box .sop_line {
  width: 100%;
  padding-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}
/* line 35, ../sass/buy_list_2.scss */
.sop_box .sop_nub {
  width: 20%;
}
/* line 40, ../sass/buy_list_2.scss */
.sop_box .sop_nub_a {
  width: 26%;
}
/* line 45, ../sass/buy_list_2.scss */
.sop_box .sop_nub_b {
  width: 26%;
  color: #c80000;
  margin-right: 11%;
}
/* line 52, ../sass/buy_list_2.scss */
.sop_box .sop_way {
  width: 20%;
}
/* line 58, ../sass/buy_list_2.scss */
.sop_box .sop_way_a {
  width: 13%;
}
/* line 63, ../sass/buy_list_2.scss */
.sop_box .sop_bank {
  width: 40%;
  letter-spacing: 0.6px;
  margin-right: 7%;
}
/* line 75, ../sass/buy_list_2.scss */
.sop_box .sop_w {
  /*text-align: center;*/
  color: #c80000;
  font-size: 12px;
  margin-top: 8%;
  margin-bottom: 8%;
}

/* line 87, ../sass/buy_list_2.scss */
.button_box {
  width: 40%;
  margin-left: 25%;
}

/* line 93, ../sass/buy_list_2.scss */
.sop_button {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  margin-right: 20px;
  margin-top: 1%;
}
