/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/cookbook.scss */
.cookbook {
  /*width: 38%;*/
  width: 709px;
  margin: 0px auto;
}

/* line 16, ../sass/cookbook.scss */
.cb_pic {
  width: 100%;
  margin-top: -6%;
}

/* line 21, ../sass/cookbook.scss */
.cb_box {
  width: 100%;
  font-size: 14px;
  padding-top: 2%;
}
/* line 27, ../sass/cookbook.scss */
.cb_box a:link {
  color: #626262;
}
/* line 28, ../sass/cookbook.scss */
.cb_box a:visited {
  color: #626262;
}
/* line 29, ../sass/cookbook.scss */
.cb_box a:active {
  color: #c9643e;
}
/* line 30, ../sass/cookbook.scss */
.cb_box a:hover {
  color: #c9643e;
}
/* line 31, ../sass/cookbook.scss */
.cb_box .cb_line {
  width: 100%;
  height: 3.1%;
  padding-top: 1.5%;
  /*padding: 10%;*/
}
/* line 40, ../sass/cookbook.scss */
.cb_box .cb_nub {
  text-align: center;
  width: 12%;
}
/* line 45, ../sass/cookbook.scss */
.cb_box .cb_mean {
  /*text-align: center;*/
  width: 52.5%;
  padding-left: 3%;
}
/* line 51, ../sass/cookbook.scss */
.cb_box .cb_time {
  text-align: center;
  width: 20.5%;
}
/* line 56, ../sass/cookbook.scss */
.cb_box .cb_pep {
  /*text-align: center;*/
  width: 15%;
  padding-left: 7%;
}

/* line 63, ../sass/cookbook.scss */
.cb_word {
  color: #3f3f3f;
  font-size: 10px;
  line-height: 16px;
  padding-left: 9px;
  /*height: 155px;*/
  /*width: 390px;*/
}

/* line 72, ../sass/cookbook.scss */
.pages {
  margin-left: 90%;
  margin-top: 2%;
  height: 16px;
}

/*cookbook_in*/
/* line 89, ../sass/cookbook.scss */
.cookbook_in {
  /*width: 42%;*/
  width: 783px;
  margin: 0px auto;
}

/* line 95, ../sass/cookbook.scss */
.cbi_box {
  width: 100%;
  margin-bottom: 8%;
}

/* line 100, ../sass/cookbook.scss */
.cbi_tit_b {
  width: 24%;
}

/* line 104, ../sass/cookbook.scss */
.cbi_title {
  color: #7c0000;
  font-size: 12px;
  margin-bottom: 4%;
}

/* line 110, ../sass/cookbook.scss */
.cbi_pic {
  width: 100%;
}

/* line 114, ../sass/cookbook.scss */
.cbi_word {
  color: #3f3f3f;
  font-size: 12px;
  line-height: 20px;
  padding-left: 9px;
  /*height: 155px;*/
  /*width: 390px;*/
}

/* line 123, ../sass/cookbook.scss */
.pages_in {
  margin-left: 45%;
  width: 20%;
  height: 16px;
}
